.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    text-align: center;
}

span{
    display: block;
}

.boom-00{
    background-image: url('../images/exp.png');
    width: 1000px;
    height: 10000px;
}