.card {
  display: inline-flex;
  width: 720px;
  height: calc(300px + 2rem);
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 3px 4px 2px #0005;
  justify-content: space-between;
}

.card__image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}