* {
    margin: 0 auto;
}

.wrapper{
    margin: 0 auto;
    width: 50%;
}

.flex{
    display: flex;
}

.f-direction{
    flex-direction: column;
}

.center{
    justify-content: center;
    text-align: left;
    line-height: 2;
}

h1{
    border-bottom: 1px solid black;
}

span{
    display: block;
    border: 1px solid black;
    padding: 10px 20px;
}



