/* General styles */

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.txt-center{
    text-align: center;
}

/*Header*/

header{
    padding: 10px;
    background-color: lightgrey;
}

/* Navigation*/


ul li{
    display: inline;
    padding: 20px;
}

nav{
    margin-top: 35px;
}

nav a{
    text-decoration: none;
    color: black;  
}

.hero {
    background-image: url('https://media.istockphoto.com/photos/modern-architecture-double-exposure-picture-id900131234?k=6&m=900131234&s=612x612&w=0&h=Nzini2Jq7Vfqi2aOfnOItBenOWdS6w3NxpxkyEaPrgM=');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Hero*/

.hero-txt{
    margin-top: 100px;
    color: white;
}

/*About section*/

.about img{
    margin: 20px;
}

.right {
    padding: 150px 0;
    margin: 20px;
}

/*Card list*/

.card-list{
    margin-top: 20px;
    background-color: lightgrey;
}

.card{
    margin: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

/*Footer*/

footer{
    text-align: center;
    padding: 20px;
}